---
services:
  systems-manager-mcp:
    image: docker.io/knucklessg1/systems-manager:latest
    # build: . # Debug
    container_name: systems-manager-mcp
    hostname: systems-manager-mcp
    command: ["systems-manager-mcp"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - "HOST=0.0.0.0"
      - "PORT=8010"
      - "TRANSPORT=streamable-http"
    ports:
      - "8010:8010"

  systems-manager-agent:
    image: docker.io/knucklessg1/systems-manager:latest
    # build: . # Debug
    container_name: systems-manager-agent
    hostname: systems-manager-agent
    command: ["systems-manager-agent"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - systems-manager-mcp
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - "HOST=0.0.0.0"
      - "PORT=9009"
      - "MCP_URL=http://systems-manager-mcp:8010/mcp"
      - "PROVIDER=openai"
      - "OPENAI_BASE_URL=http://localhost:1234/v1"
      - "OPENAI_API_KEY=llama"
      - "MODEL_ID=qwen/qwen3-8b"
      - "DEBUG=False"
      - "ENABLE_WEB_UI=True"
    ports:
      - "9009:9009"
